$default-bg-color: #E7E6E6;

$client-color: #F28831;

$red-color-dark: #CA1100;

$color-black: #000;
$color-white: #fff;
$color-gray-dark: #ddd;




// GIRD
$grid-width: 100%;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: .1rem;